<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the Home Page Of My Website</h1>
    <div>
        <tr><a href="index.html">Home</a></tr>
        <tr><a href="about-Us.html">About</a></tr>
        <tr><a href="Project.html">Projects</a></tr>
        <!--This content are to be replaced with yours. "Add pages" in the "template folder" -->
    </div>
</body>
</html>